.modal-message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 600px; */
    background-color: var(--color-septenary-modal);
    border-radius: 10px;
    padding: 20px;
    border: none;
    z-index: 9999;
  }
  
  .modal-message-box-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-senary-warning);
  }
  
  .modal-message-box-description {
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
    color: var(--color-primary);
  }
  
  .modal-message-box-button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--color-septenary-modal);
    border: none;
    cursor: pointer;
  }
  
  .modal-message-box-button-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .modal-message-box {
      width: 90%;
    }
  }
  
  @media (max-width: 500px) {
    .modal-message-box-button-container {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  
