POSTGRES_USER=******  # nom d'utilisateur de la base de données  
POSTGRES_PASSWORD=******  # mot de passe de l'utilisateur de la base de données
POSTGRES_DB=******  # nom de la base de données
POSTGRES_HOST=******  # nom du conteneur de la base de données
POSTGRES_PORT=5432  # port de la base de données: 5432