# PORT DU SERVEUR EXPRESS
PORT=3000

# URL DE LA BDD POSTGRES
PG_URL=postgres://user:password@localhost:5432/database
# CORS
CORS=*

# JWT_SECRET
JWT_SECRET=secret_secret

# JWT_EXPIRES_IN
JWT_EXPIRES_IN=15m #15 minutes pour les teste JWT

# COOKIE_SECRET
COOKIE_SECRET=secret_secret

# COOKIE_EXPIRES_IN (15 minutes en millisecondes)
COOKIE_EXPIRES_IN=900000 #15 minutes en millisecondes pour les teste cookie!

# COOKIE_SECURE
COOKIE_SECURE=false #false pour les teste cookie!


# COOKIE_SAME_SITE

COOKIE_SAME_SITE=none #none pour les teste cookie!

# SESSION_SECRET
SESSION_SECRET=secret_secret

